# Site Info
title:              "Ly Tran"
description:        "Academic Blog."

# Site Settings
baseurl:            "" # Base URL must end WITHOUT a slash, default: ""
permalink:          /notes/:title # Post permalink

# Enter the following platform usernames if you would like for them to appear on your site.
owner:
  name: Ly Tran
  avatar: me.png
  bio: 
  email: ly.tran@fulbrightmail.org
  # Do not include the @ symbol in your Twitter username
  twitter: 
  linkedin: #username
  github: 
  orcid: # ID Number (ex. 0000-0000-0000-0000)
  researchgate: #username
  mendeley: #username
  google:
    plus: #username
    analytics:
    verify:
    scholar: #id
  facebook: #username
  instagram: #username
  bing-verify:
  stackoverflow: #123456/username from a "https://stackoverflow.com/users/123456/username" link
  xing: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username
  disqus-shortname:



# Site Build
markdown:           kramdown
kramdown:
    input:          GFM
    math_engine:    mathjax
    syntax_highlighter:    rouge

sass:
    style:          :compressed

# Other Params
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile" ]
gems:
  - jekyll-sitemap

compress_html:
    clippings:      all
    ingore:
        envs:       [ "test" ]

defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"

