---
layout: default
title: Data Mining
permalink: datamining
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.secondary == 'datamining' %}
 
    <span style="float: right">{{ post.date | date: "%b %d, %Y" }}</span>

      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            <h1 style="color:pink;font-size:15px;text-align:right">{{ post.title }}</h1>  
          </a>
        </h1>    
     
      </div>
    {% endif %}
  {% endfor %}
</div>


