---
---
<!DOCTYPE html>
	<html>
		<head>
			<div id="banner"></div>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/math">Math</a></li>
				<li><a href="/datamining">Data Mining</a></li>
				<li><a href="/prob&stat">Probability & Statistics</a></li>
				<li><a href="/programming">Programming</a></li>
				<li><a href="/others">Others</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ly.tran@fulbrightmail.org">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
