---
---
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					<li><a href="/resume">Resume</a></li>
					<li><a href="/certificate/">Certificates</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/datamining">Data Mining</a></li>
				<li><a href="/prob&stat">Statistics</a></li>
				<li><a href="/finance">Finance</a></li>
				<li><a href="/others">Others</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<p> Feel free to reach me via email or LinkedIn</p>
					<li><a href="mailto:ly.tran@fulbrightmail.org">Email</a></li>
					<li><a href="https://www.linkedin.com/in/green-tran/">LinkedIn</a></li>
					<li><a href="https://github.com/lytranp?tab=repositories/">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
